<!DOCTYPE html>
<html>
    <head>
        <title>CS2 lineups</title>
        <link rel="icon" href="static\img\Logo1.png" type="image/png">
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <style>
        body {
            background-image: url("static/img/CS2.png");
            
            background-size: cover;

            background-position: center;
            
            background-repeat: no-repeat;
            
            background-attachment: fixed;
        }
    </style>
    <body>
        <div1 style="display: flex; gap: 5px;">
            <h4>Creator:</h4>
            <h4><a href="http://www.youtube.com/@Azeru007">Azeru007</a></h4>
            <h1>CS2 Guides</h1>
        </div1>
        <img src = "static\img\Nic.png" alt="nic">
        <div3 style="display: flex; gap: 150px;">
            <img src="static/img/Nic3.png" alt="Nic">
            <a href="/tips"><img src="static/img/UI/Tips.png" alt="Tips"></a>
            <a href="/lineups"><img src="static/img/UI/Line-ups.png" alt="Lineups"></a>
        </div3>
    </body>
</html>