<!DOCTYPE html>
<html>
    <head>
        <title>CS2 lineups</title>
        <link rel="icon" href="static\img\Logo1.png" type="image/png">
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <style>
        body {
            background-image: url("static/img/CS2.png");
            
            background-size: cover;

            background-position: center;
            
            background-repeat: no-repeat;
            
            background-attachment: fixed;
        }
    </style>
    <body>
        <div1 style="display: flex; gap: 685px;">
            <h4>Creator: <a href="http://www.youtube.com/@Azeru007">Azeru007</a></h4>
            <h1>CS2 Guides</h1>
        </div1>
        <h2>Ponizej znajdziesz najwazniejsze lineupy w CS2</h2>
        <div1 style="display: flex; gap: 120px;">
            <h3><a href="/smokes">Smokes</a></h3>
            <h3><a href="/molotovs">Molotovs</a></h3>
            <h3><a href="/flashes">Flashes</a></h3>
        </div1>
        <div1 style="display: flex; gap: 155px;">
            <img src="static/img/Nic8.png" alt="Nic">
            <a href="/smokes"><img src="static/img/UI/Smoke.png" alt="Smoke"></a>
            <a href="/molotovs"><img src="static/img/UI/Molotov.png" alt="Smoke"></a>
            <a href="/flashes"><img src="static/img/UI/Flash.png" alt="Flash"></a>
        </div1>
        <h2><a href="/enquete">Enquete</a>
        <h2><a href="/">Powrót</a></h2>
    </body>
</html>