<!DOCTYPE html>
<html>
    <head>
        <title>CS2 smokes</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <style>
        body {
            background-image: url("static/img/CS2.png");
            
            background-size: cover;

            background-position: center;
            
            background-repeat: no-repeat;
            
            background-attachment: fixed;
        }
    </style>
    <body>
        <div1 style="display: flex; gap: 0px;">
            <h4>Creator:</h4>
            <h4><a href="http://www.youtube.com/@Azeru007">Azeru007</a></h4>
        </div1>
        <div>
            <h1>CS2 smokes💣</h1>
        </div>
        <p>Witaj na stronie z wszelkimi smoke'ami w CS2!💣</p>
        <h2>Poniżej znajdziesz najważniejsze smoke'i w CS2</h2>
        <h3><a href="/mirage smokes">Mirage smokes</a></h3>
        <div1 style="display: flex; gap: 150px;">
            <img src="static/img/Nic5.png" alt="Flash">
            <a href="/mirage smokes"><img src="static/img/mirage2.png" alt="Flash"></a>
        </div1>
        <h2><a href="/lineups">Powrót</a></h2>
    </body>
</html>