<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dziennik programisty</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<style>
        body {
            background-image: url("static/img/CS2.png");
            
            background-size: cover;

            background-position: center;
            
            background-repeat: no-repeat;
            
            background-attachment: fixed;
        }
    </style>
<body>
    <h2>Thanks for sharing your opinion!</h2>
    <h2><a href="/enquete">Powrót</a></h2>
</body>
</html>