<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>CS2 smokes - Mirage</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="icon" href="static\img\Logo1.png" type="image/png">
    </head>
    <style>
        body {
            background-image: url("static/img/CS2.png");
            
            background-size: cover;

            background-position: center;
            
            background-repeat: no-repeat;
            
            background-attachment: fixed;
        }
    </style>
    <body>
        <div1 style="display: flex; gap: 0px;">
            <h4>Creator:</h4>
            <h4><a href="http://www.youtube.com/@Azeru007">Azeru007</a></h4>
        </div1>
        <h2>Mirage Smokes</h2>
        <h2>Terrorists</h2>
        <div1 style="display: flex; gap: 300;">
            <ol>
                <h4>A</h4>
                <li><h5><a href="/mirage smokes tt ct">CT</a></h5></li>
                <li><h5><a href="/mirage smokes tt jungle">Jungle</a></h5></li>
                <li><h5><a href="/mirage smokes tt stairs">Stairs</a></h5></li>
            </ol>
            <ol>
                <h4>Mid</h4>
                <li><h5><a href="/mirage smokes tt window">Window</a></h5></li>
                <li><h5><a href="/mirage smokes tt connector">Connector</a></h5></li>
                <li><h5><a href="/mirage smokes tt short">Short</h5></li>
                <li><h5><a href="/mirage smokes tt under">Under</h5></li>
                <li><h5><a href="/mirage smokes tt entry">Entry</h5></li>
            </ol>
            <ol>
                <h4>B</h4>
                <li><h5><a href="/mirage smokes tt b short"></a>Short</h5></li>
                <li><h5><a href="/mirage smokes tt truck"></a>Truck</h5></li>
                <li><h5><a href="/mirage smokes tt b window"></a>Window</h5></li>
                <li><h5><a href="/mirage smokes tt kitchen"></a>Kitchen</h5></li>
            </ol>
        </div1>
        <h2><a href="/mirage smokes">Powrót</a></h2>
    </body>
</html>